#version: 0.3

BEGIN_GPU_SELECTION;
GraphicQueueSupported == 1;
isHeadLess != 1;
deviceid == PreferredGPU;
GpuPresetLevel;
# Intel vendor 0x8086 && 0x8087 && 0x163C
VendorID != 0x8086, VendorID != 0x8087, VendorID != 0x163C;
DirectXFeatureLevel;
VRAM;
END_GPU_SELECTION;

BEGIN_DRIVER_REJECTION;
END_DRIVER_REJECTION;

BEGIN_GPU_SETTINGS;

# driver bug on intel
dynamicRenderingEnabled; vendorID == 0x163C; 0;
dynamicRenderingEnabled; vendorID == 0x8086; 0;
dynamicRenderingEnabled; vendorID == 0x8087; 0;

END_GPU_SETTINGS;

BEGIN_USER_SETTINGS;
END_USER_SETTINGS;
